.cache
.tree-sitter
.DS_Store
log.html
scripts/__pycache__
tooling/tree-sitter-satsuma/scripts/__pycache__
**/node_modules
**/dist
**/generated
.worktrees/

**/*.vsix
**/*.wasm
**/*.log
**/*.zip
**/*.tar.gz
**/*.tgz
**/*.bak
**/*.tmp
**/*.swp
**/.vscode
**/.idea
**/.vscode-test
**/.vscode-test-insiders
**/.vscode-test-explorer
**/.vscode-test-insiders-explorer
**/.vscode-test-explorer-insiders       